body{
	margin:0px;
	padding:0px;
	font-family:풕턼환쥌;
}
.header {
 position:relative;
 width:100%;
 min-width:1100px;
 height:68px;
 background-color:#f1f1f1;
 margin-bottom:12px;
 border-bottom:1px solid #d1d1d1;
}
a{
	text-decoration:none;
}
ul{
	list-style: none;
}
.top{
	width:1100px;
	height:68px;
}
.top-bar{
	position: relative;
	float:left;
	height:68px;
	width:880px;
}
.logo {
	float: left;
	width:180px;
	margin:0px 62px 0px 30px;
}

.menu{
	font-size: 15px;
	margin:0px;
	text-decoration:none;
	position:absolute;
	left:310px;
	top:20px;
}
.menu a{
	color:black;
}
.menu a:hover {
	font-weight:bold;
	color:rgba(218, 32, 102, 0.89);
}
#l1,#l2,#l3,#l4,#l5{
	height:48px;
	float:left;
    padding-right:30px;
	display:block;
}

.login{
	font-size:10px;
	padding-top:20px;
	margin-left:930px;
	
}
.login a{
	color:black;
}
#weibo{
	position:absolute;
	margin-left:10px;
	padding-left:20px;
	vertical-align: middle;
}
#qq{
    position:absolute;
	margin-left:10px;
	padding-left:50px;
	vertical-align: middle;
}
.main{
  width: 1100px;
  margin: auto;
  position: relative;
}



.area {
	width:1099px;
	height:231px;
	margin:10px auto;
	
}
.search{
	background:url(http://www.lookyi.com/img/virgule.png);
	height:50px;
	width:865px;
	margin:2px auto;
	font-size:9px;
	padding-left:240px;
	padding-top:20px;
	
}
.searchbar img{
	width:35px;
	height:27px;
	position: absolute;
    margin-left: 10px;
	border: 2px solid #e01e81;
	border-right:0px;
	
}
.searchtxt{
	color:#888888;
	font-size:10px;
	margin-left:45px;
	width:460px;
	height:25px;
	border: 2px solid #e01e81;
}
.button{
	margin-left:363px;
	margin-top:-31px;
	text-align:center;
	
}
.bt{
	width:60px;
	height:31px;
	background-color: #e01e81;
	border: 2px solid #e01e81;
	color:white;
	font-size:9px;
	font-family:풕턼환쥌;	
}

.artists {
	height:40px;
	width:1099px;
    margin:20px auto;
	color:#e01e81;
	font-weight:bold;
	font-family:풕턼환쥌;	
	font-size:20px;
	}

#fenlei{
	padding-left:15px;
	font-size:15px;
}
.arsearch{
	float:left;
	position:absolute;
	top:325px;
	right:0px;
}
.arsearch a{
	color:white;
}
.arsearch a:hover {
	color:black;
	font-weight:bold;
}
.leibie{
	font-size:12px;
}
#f1,#f2,#f3,#f4,#f5,#f6,#f7,#f8,#f9,#f10{
	float:left;
	padding:7px 20px 7px 20px;
	margin-left:5px;
	border-radius:5px;

}


#f1 {
	background-color:#ff9793;
}
#f2{
	background-color:#eb1294;
}
#f3{
	background-color:#eebf01;
}
#f4{
	background-color:#99cc00;
}
#f5{
	background-color:#cc0000;
}
#f6{
	background-color:#e8557f;
}
#f7{
	background-color:#eb890e;
}
#f8{
	background-color:#ff9793;
}
#f9{
	background-color:#e16545;
}
#f10{
	background-color:#c7c7c7;
}

.arsinfo{
	width:1100px;
	position:relative;
	margin:20px auto;
}
.pic {
	height:370px;
	width:200px;
	float:left;
	margin:0px 8px 18px 0px;
	border: 1px solid #f3d3da;
	color:#4A4949;
	margin-right:14px;
	margin-left:4px;
}
.pic a{
	color:black;
	text-decoration:none;
	font-size:14px;
	font-family:풻稻
}
.pic a:hover{
	color:red;
	font-weight:bold;
}

.member{
	width:180px;
	border-width: 6px 6px 0px;
	border-style: solid;
    border-color: #fff;
    overflow: hidden;
}
.ditailman {
	height:230px;
	width:179px;
	border:1px solid #FFF;
	margin-left:14px;
	margin-right:2px;
	position: relative;
	overflow: hidden;
}
.ditailman img{

	width:174px;
	height:230px;
}
.ditail {
	height:32px;
	margin:6px auto;
}
.adress {
	font-size:14px;
	position:relative;
	float:left;
	width:80px;
	margin-left:29px;
	text-align:right;
	
}
.pic h2{
	border: 1px solid #f3d3da;
	margin: 0;
    background: #fff;
}
.artcontainer {
	padding-left:3px;
	width:45px;
	height:22px;
	float:left;

}
.name{
	height:22px;
	font-size:14px;
	float:left;
	position:relative;
	margin-top:5px;

}
.chat{
	height:22px;
	position:relative;
	float:left;
	margin-top:2px;
	margin-left:0px;
	overflow:hidden;
}

.pic h3, .pic h4, .pic h5{
	background: #fff;
	height:31px;
	font-size:13px;
}
.pic h3{
	font-size:12px;
	height:25px;
	margin-top:31px;
	margin-bottom:0px;
	padding:0px;
	padding-left:3px;
	border-bottom: 1px solid #f3d3da;
	border-top: 1px solid #f3d3da;
}
.pic h5,.pic h4{
	height:24px;
	padding-top:0px;
	padding-left:8px;
}
.pic h4{
	width:75px;
	margin-top:2px;
	margin-left:2px;
	margin-right:10px;
	margin-bottom:0px;
}
.pic h5{
	padding-left:10px;
	border-left:1px solid #f3d3da;
	width:60px;
	margin-top:2px;
	margin-bottom:0px;
	margin-left:10px;
}
.chengjiao {
	width:75px;
	position:relative;
	float:left;
	overflow:hidden;
}
.guanzhudu{
	width:60px;
	position:relative;
	overflow:hidden;
	float:left;
	margin-left:20px;
}
.red{
	margin-left:3px;
	margin-right:3.5px;
	color:red;
}

.baoxian{
	margin:auto;
	width:1100px;
	position:relative;
}

.company{
	margin:auto;
	position:relative;
	width:1100px;
	color:#e01e81;
	font-weight:bold;
	font-family:풕턼환쥌;	
	font-size:20px;
	padding-bottom:20px;
	border-bottom:3.5px solid rgba(223, 75, 151, 0.65);
	
	
}

#c1{
	font-size:15px;
	padding-left:15px;
}

.company img{
	padding-top:5px;
	padding-left:25px;
	width:740px;
	float:right;
}

.business {
	width:1100px;
	position:relative;
	margin:20px auto;
}
.b_member {
	margin:5px 6px 20px 0px;
	background-color:rgba(174, 167, 167, 0.44);
	float:left;
    height:165px;
	width:163px;
	padding:5px;
	
	}

.b_picture{
	height:158px;
	width:158px;
	border:1px solid rgba(70, 75, 76, 0.44);
}

.footer{
	width:100%;
	height:230px;
	background-color: #f1f1f1;
	border-top: 1px solid #d1d1d1;
	margin-top:525px;
	margin-bottom:80px;
	font-family:풕턼환쥌;	
}

.fter{
	margin-left:90px;
	position:relative;
}

.footerlist{
	float:left;
	overflow: hidden;
	position:relative;
	width:180px;
}

.footerlist dt{
	margin-left:40px;
	height:50px;
	font-size:15px;
	color:#656565;
}
.footerlist  dd{
	color:#656565;
}

.footerlist a{
	font-family:풕턼환쥌;	
	font-size:13px;
	color:#656565;
}

.footerlist a:hover{
	font-weight:bold;
	color:rgba(218, 32, 102, 0.89);
}

#wc{
	float:left;
	width:180px;
	height:30px;
}
.final{
	height:20px;
	width:100%;
	position:relative;
}

.final img{
	padding-left:300px;
}